body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: orange;
}

header {
    background: orange;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
    min-height: 60vh; /* Ensures footer isn't too high on short pages */
}

footer {
    background: orange;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

nav ul {
    padding: 0;
    list-style: none;
    background: red;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    background: orange;
}
